.app {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  padding-top: 136px;
  padding-bottom: 105px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: #FFFFFF;
  color: black;
}
.logoContainer {
  position: absolute;
  top: 40px;
  left: 40px;
  width: 80px;
  height: 80px;
}

